@import "./colors";

.hero {
  display: flex;
  gap: 10rem;
  margin-bottom: 7.5rem;

  &-text {
    flex: 1;
    padding: 0 1rem;
    &-heading {
      max-width: 47rem;
      color: $vry-dark-magenta;
      font-size: 5.5rem;
      line-height: 0.9;
      letter-spacing: -0.9px;
      margin-bottom: 3rem;
    }

    &-description {
      font-size: 2rem;
      max-width: 50rem;
      color: $dark-grayish-magenta;
      line-height: 1.3;
    }
  }

  &-img {
    flex: 1;

    &-box {
      width: 40%;
    }
  }
}

.box-1 {
  transform: translateX(-6rem);
}

.box-2 {
  transform: translateX(-3rem);
}

@media only screen and (max-width: 65.6em) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;

    &-text {
      text-align: center;

      &-heading {
        margin-bottom: 1.5rem;
      }
    }
  }

  .box-1 {
    transform: translateX(0);
  }

  .box-2 {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 30em) {
  .hero {
    width: fit-content;
    margin: 0 auto 4rem;
    &-text {
      padding: 0;

      &-heading {
        margin: 0 auto 1.5rem;
        max-width: 30rem;
        font-size: 4.5rem;
      }

      &-description {
        max-width: 37rem;
      }
    }

    &-img {
      width: 100%;
    }
  }
}
