@import "./colors";

.rate {
  max-width: 50rem;
  background-color: $light-grayish-magenta;
  display: flex;
  gap: 2.5rem;
  color: $vry-dark-magenta;
  padding: 2rem 3rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  align-items: center;
  &-stars {
    display: flex;
    gap: 0.8rem;
  }

  &-text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 30em) {
  .rate {
    flex-direction: column;
    gap: 1rem;
  }
}
