@import "./colors";

.attribution {
  text-align: center;
  color: hsl(333, 80%, 67%);
  margin-top: 9rem;

  a:link,
  a:visited {
    text-decoration: none;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
  }
}

@media only screen and (max-width: 65.6em) {
  .attribution {
    margin-top: 3rem;
  }
}
