@import "./colors";

.testimonials {
  display: flex;
  justify-content: space-between;
}

.test-2 {
  transform: translateY(3rem);
}

.test-3 {
  transform: translateY(6rem);
}

@media only screen and (max-width: 65.6em) {
  .testimonials {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .test-2 {
    transform: translateY(0);
  }

  .test-3 {
    transform: translateY(0);
  }
}
