@import "./colors";

.testimonial {
  background-color: $vry-dark-magenta;
  border-radius: 8px;
  padding: 3rem;
  color: $white;
  max-width: 32rem;

  &-author {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 3rem;

    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    &-info {
      &-name {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4;
      }

      &-title {
        color: $soft-pink;
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
  }

  &-description {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 65.6em) {
  .testimonial {
    max-width: 44rem;
  }
}

@media only screen and (max-width: 30em) {
  .testimonial {
    max-width: 37rem;
  }
}
