@import "./components/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient($soft-violet, $soft-blue);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
