* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}

@media only screen and (max-width: 56.25em) {
  body {
    background-image: url(./images/bg-pattern-top-mobile.svg),
      url(./images/bg-pattern-bottom-mobile.svg);
  }
}
